<h2>Flights</h2>

<% @flights.each do |flight| %>
<div id="flight-<%= flight.id %>">
  <p>Flight Number: <%= flight.number %></p>
  <ul>
    <% flight.passengers.each do |passenger| %>
    <section id="passenger-<%= passenger.id %>">
      <li><%= passenger.name %></li>
      <%= button_to "Remove Passenger", "flights/#{flight.id}/passengers/#{passenger.id}", method: :delete %><br>
    </section>
    <% end %>
  </ul>
</div>
<% end %>
